# ----------------------------
# Python
# ----------------------------
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------
# Environment & Secrets
# ----------------------------
.env
*.env
.env.*

# ----------------------------
# Airflow
# ----------------------------
airflow/.env
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Docker / Compose
# ----------------------------
*.pid
*.log
*.db
*.sock